@import 'inter/inter.css';

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  font-size: 0;
}

card {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 7rem;
  margin: .5rem;
  background-color: #fff;
  background-position: 50% 50%;
  background-size: 70%;
  background-repeat: no-repeat;
  border-radius: .25rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

card-bottomright {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  transform: rotate(180deg);
}

card-topleft {
  position: absolute;
  top: 0rem;
  left: 0rem;
}

.card-corner card-suit, .card-corner card-value {
  width: 1rem;
  text-align: center;
  display: block;
}

card-value {
  font-size: 0.875rem;
  padding-top: .125rem;
  font-weight: 600;
  letter-spacing: -0.0625em; 
}

card-back {
  position: absolute;
  top: .25rem;
  left: .25rem;
  right: .25rem;
  bottom: .25rem;
  image-rendering: crisp-edges;
  border-radius: .125rem;
  background-image: url(graphics/bg.png);
  background-position: 50% 50%;
  background-size: 0.5rem 0.5rem;
}

.card-corner card-suit img {
  height: 0.5625rem;
}

card-middle {
  position: absolute;
  left: 32.5%;
  top: 20%;
  width: 35%;
  height: 60%;
}

card-middle card-suit {
  position: absolute;
}

card-middle card-suit.ace img {
  height: 1.625rem;
}

card-middle card-suit img {
  height: .875rem;
}

card.joker card-value {
  margin-left: -.1875rem;
  font-size: .5rem;
  font-weight: 600;
  line-height: 1.0625;
}