@import '../inter/inter.css';

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  font-size: 0;
  background-color: #ddd;
}

.card {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 140px;
  margin: 8px;
  background-color: #fff;
}

.card-bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.card-topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.card-corner .card-suit, .card-corner .card-rank {
  width: 18px;
  text-align: center;
  display: block;
}

.card-corner .card-suit {
  margin-left: 0.5px;
}

.card-rank {
  font-size: 16px;
  padding-top: 2px;
  font-weight: 600;
  letter-spacing: -1.75px; 
}

.card-back {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  image-rendering: crisp-edges;
  border-radius: 2px;
  background-image: url(../graphics/bg.png);
  background-position: 50% 50%;
  background-size: 8px 8px;
}

.card-corner .card-suit img {
  height: 12px;
}

.card-middle {
  position: absolute;
  left: 32.5%;
  top: 20%;
  width: 35%;
  height: 60%;
}

.card-royal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 75%;
}

.card-joker .card-royal {
  background-position: 60% 50%;
}

.card-middle .card-suit {
  position: absolute;
}

.card-a .card-middle .card-suit img {
  height: 30px;
}

.card-middle .card-suit img {
  height: 20px;
}

.card-joker .card-rank {
  margin-left: -2px;
  margin-top: 2px;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.0625;
}