@import '../inter/inter.css';

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui", "helvetica neue", helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  margin: 0;
  font-size: 0;
  background-color: #ddd;
  font-feature-settings: 'cv01', 'cv03', 'cv04', 'cv09';
}

.cards {
  width: 1100px;
  height: 700px;
}

.card {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 140px;
  background-color: #fff;
}

.card-bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.card-topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.card-corner .card-suit,
.card-corner .card-rank {
  width: 18px;
  text-align: center;
  display: block;
}

.card-corner .card-rank {
  letter-spacing: -0.0625em;
  margin-left: -0.03125em;
}

.card-corner .card-suit {
  margin-left: 0px;
  margin-top: -1px;
}

.card-rank {
  font-size: 16px;
  padding-top: 2px;
  font-weight: 600;
}

.card-back {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  image-rendering: crisp-edges;
  border-radius: 2px;
  background-image: url(../graphics/bg.png);
  background-position: 50% 50%;
  background-size: 8px 8px;
}

.card-corner .card-suit {
  font-size: .875rem;
  margin-top: -0.3125em;
}

.card-middle {
  position: absolute;
  left: 30%;
  top: 17.5%;
  width: 40%;
  height: 65%;
}

/* .card-2, .card-4 {
  .card-middle {
    top: calc(100% / 3);
    height: calc(100% / 3);
  }
} */

.card-royal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 75%;
}

.card-royal-suit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-royal-suit {
  color: #fff;
  font-size: 4.75rem;
}

.card-joker .card-royal {
  background-position: 60% 50%;
}

.card-suit {
  font-size: 1.5rem;
}

.card-middle .card-suit {
  position: absolute;
}

.card-a .card-middle .card-suit {
  font-size: 3.5rem;
}

/* .card-2, .card-3, .card-4, .card-5, .card-6 {
  .card-middle .card-suit {
    font-size: 2rem;
  }
} */

.card-middle .card-suit {
  font-size: 1.6rem;
}

.card-joker .card-rank {
  margin-left: -2px;
  margin-top: 2px;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.0625;
}